{% extends "base.html" %} {% block title %} Gift Policy {% endblock title %} {% block content %}
<div class="col-lg-6">
    <div class="card shadow-custom border-0 mb-4">
        <div class="card-body text-center">
            <h2 class="font-weight-bold text-grey">
                Gifts Policy
            </h2>
            <p>Shop a single product worth more than RS:1500 and we will send you a surprise gift with a dacorated poster which tells you about your luck percentage and has a beautifull content to share on social media to tell your friends about your Luck</p>
            <div class="bottom_line"></div>
        </div>
        {% endblock content %}